<footer>
    <h2><blockquote>Connect With Us!</blockquote></h2><br>
    <!-- Start: footerUL -->
    <div id="sns">
        <table>
            <tr>
                <td><a href="https://www.facebook.com/1998Ang"><img src="imgs/Messenger.png" alt="Facebook"></a></td>
            </tr>
            <tr> </tr>
            <tr>
                <td><a href="mailto:alvinoalvin123@gmail.com"><img src="imgs/Gmail.png" alt="gmail"></td>
            </tr>
            <tr> </tr>
            <tr>
                <td><a href="https://twitter.com/alvinoalvin123"><img src="imgs/Twitter.png" alt="twitter"></td>
            </tr>
        </table>
        <a href="https://icons8.com">Icon pack by Icons8</a>
    </div>
    <!-- footerUL -->
</footer>
<!-- End: footer -->
</body>