<!-- Start:content -->
<div class="content">
    <form action="index.php" method="POST">
        
        <h1>Log In</h1>
        <div class="inputBox">
            Username/Email<br>
            <input class="input" type="text" required autocomplete="off" name="username" placeholder="Username"><br>
            Password<br>
            <input class="input" type="password" required autocomplete="off" name="password" placeholder="Password">
        </div>
        <div class="buttonHolder">
            <button type="submit" name="submit">Sign In</button>
            <button type="button" onclick="window.location.href= 'signup.php'">Sign Up</button>
        </div>
    
    </form>

</div>
<!-- End: content -->
