
<!-- Start:content -->
<div class="content">
    <!--Start: product-->
     <div class="product">
         <h1>Our Horses</h1>
         <p>{{description}}</p>
         <!--Start: prodMenu-->
         <div class="prodMenu">
            <!--Start: show-->
            <div class=prod id="show">
                <a href="catalogue.php?Type='SHOW'">
                    <img src="imgs/show.jpg"></img><br>Show Horses
                </a>
            </div> 
            <!--End: show-->
            <!--Start: war-->
            <div class=prod id="war">
                <a href="catalogue.php?Type='WAR'">
                    <img src="imgs/war.jpg"></img><br>War Horses
                </a>
            </div>
            <!--End: war-->
            <!--Start: work-->
            <div class=prod id="work">
                <a href="catalogue.php?Type='WORK'">
                    <img src="imgs/work.jpg"></img><br>Work Horses
                </a>
            </div>
            <!--End: work-->
            <!--Start: carriage-->
            <div class=prod id="carriage">
                <a href="catalogue.php?Type='CARRIAGE'">
                    <img src="imgs/carriage.jpg"></img><br>Carriage Horses
                </a>
            </div>
            <!--End: carriage-->            
        </div>
         <!--End: prodMenu-->
    </div>
    <!--End: product-->
</div>
<!-- End: content -->
