<div class="header">
    <!--Start: Login Mitch please take care of this-->
    <div class="login">
        <a href="Login.php">Login</a>
    </div>
    <div class="logoBox">
        <div class="logo">
            <a href="index.php"><img src="img/logo.png"><span class="company">tropos</span></a>
        </div>
    </div>
    <div class="navBar">
        <!--Start: Mens-->
        <div class="navButton" id="mens">Mens
            <div class="dropCont">
                <ul>
                    <li class="contItem"><a href="topsM.php">Tops</a></li>
                    <li class="contItem"><a href="jacketsM.php">Jackets</a></li>
                    <li class="contItem"><a href="shirtsM.php">Shirts</a></li>
                </ul>
                <ul>
                    <li class="contItem"><a href="bottomsM.php">Bottoms</a></li>
                    <li class="contItem"><a href="pantsM.php">Pants</a></li>
                    <li class="contItem"><a href="shortsM.php">Shorts</a></li>
                </ul>
            </div>
        </div>
        <!--End:mens-->
        <!--Start: womens-->
        <div class="navButton" id="women">Womens
            <div class="dropCont">
                <ul class="listBox">
                    <li class="contItem"><a href="topsF.php">Tops</a></li>
                    <li class="contItem"><a href="jacketsF.php">Jackets</a></li>
                    <li class="contItem"><a href="shirtsF.php">Shirts</a></li>
                </ul>
                <ul class="listBox">
                    <li class="contItem"><a href="bottomsF.php">Bottoms</a></li>
                    <li class="contItem"><a href="pantsF.php">Pants</a></li>
                    <li class="contItem"><a href="shortsF.php">Shorts</a></li>
                </ul>
            </div>
        </div>
        <!--End:Womens-->
        <!--Start: Shopping Link-->
        <div class="navButton" id ="shoppingButton">
            <a href="shoppingCart.php">Shopping Cart</a>
        </div>
        <!--End: Shopping Link-->
    </div>
    <!--End:navBar-->
</div>