<div class="content">
    <h1>{{subtitle}}</h1>
        <div class="itemcontainer">
            {%for item in contArr%}
            <div class="itemdiv">
                <img src="{{item['Picture M']}}"></img><br>
                {{item['TYPE']}}<br>
                Color: {{item['Color']}}<br>
                Size: {{item['Size']}}<br>
                Amount Left: {{item['Quantity']}}<br>
                Price: ${{item['Price']}} <br>
                
            </div> 
            {% endfor %}
        </div>
        </tr>
    </table>
</div>