* {box-sizing:border-box}

//MIXINS
.border{
    border: solid black 1px;
}
.nopadmarg{
    padding: 0;
    margin: 0;
}
@dropContColor: #9ac3e5;

body{
    .nopadmarg;
    height:100vh;
}
.wrapper{
    font-family: themeFont;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

.wrapper > * {
    flex: 1 100%;
  }
  
.header{
    display: flex;
    flex-flow: column nowrap;
    min-height:120px;
    width:100%;
    background-color: #262626;
    color:white;
    .nopadmarg;
    padding-right:1%;
    //LogoBOX
    .logoBox{
        margin:2% auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-width:350px;
        height: 100%;
        
        .logo{
            width: 100%;
            height: 80%;
            margin: auto;
            img{
                height: 100px;
                width: 100px;
            }
        }
        .company{
            height: 30%;
            font-weight: bold;
            font-size: 50px;
            color: lightgray;
            text-align: center;
            letter-spacing: 10px;
        }
                    a {
                &:link, &:visited{
                    text-decoration: none;
                }
            }
    }
    
    //NavBar
    .navBar{
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;  
        justify-content: space-evenly;      
        margin:2% auto;
        width:100%;
        .nopadmarg;
        .navButton{
            background-color:#101010;
            width:30%;
            margin:2% auto;
            font-size: 140%;
            text-align: center;
            &:hover{
                background-color: @dropContColor;
            }
            
            &:hover .dropCont{
                display: flex;
                flex-direction: row;
                justify-content: center;
                background-color: @dropContColor;
                width: 50%;
                left: 0;
                z-index: 1;
                .contItem{
                    font-size: 100%;
                    width: auto;
                    text-align: left;
                    list-style-type: none;
                    &:first-of-type{
                        font-size: 110%;
                        font-weight: bold;
                        letter-spacing: 5px;
                        line-height: 150%;
                    }
                    a{
                        color: black;
                        text-decoration: none;
                        &:hover{
                            color: white;
                        }
                    }
                }
            }
            .dropCont{
                display: none;
                position: absolute;
            }
        }
        
        #shoppingButton{
            background-color:slategray;
            a:link {
                color:white;
                text-decoration:none;
            }    
        }
        
        #women{
             &:hover .dropCont{
                 background-color:#559ad3;
                 margin-left:50%;
             }
        } // End Women
    } //End Navbar 
    .login{
        text-align:right;
        a{
            &:visited, &:link {
                color:white;
            }
        }
        
    }
} //End Header
.slideshow-container{
    height:70vh;
    max-width: 1000px;
    max-height: 1000px;
    position: relative;
    margin: auto;
    margin-top: 15px;
}
.content{
    color:white;
    h1{
        margin-left:5%;
    }
    .itemcontainer{
        display:flex;
        flex-flow:row wrap;
        .itemdiv{
            border:solid white 0.5px;
            img {
                width:210px;
                height:250px;
            }
            width:300px;
            margin:2.5%;
            padding:30px;
            text-align:center;
        }
    }
}
.mySlides{
    display: none;
    .text{
        color: whitesmoke;
        font-weight: bold;
        font-size: 20px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        a{
            text-decoration: none;
            color: white;
        }
    }
    .numbertext{
        color: whitesmoke;
        font-size: 12px;
        font-weight: bold;
        padding: 8px 12px;
        position: absolute;
        top: 0;  
    }
    img{
        width: 100%;
        max-height: 550px;
    }
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.845);
}
    

.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: grey;
    border-radius: 50%;
    border: solid white 3px;
    display: inline-block;
    transition: background-color 1s ease;
}
.active, .dot:hover{
    background-color: black;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height:20vh;
    color: white;
    background-color: #0F0F0F;
    align-self: flex-end;
    border-top: solid white 2px;
    .nopadmarg;
    margin-top: 100px;
    .footerNav{
        display: flex;
        flex-direction: row;
        width: 50%;
        .footerNavList{
            width: auto;
            border-right: solid white 1px;
            margin: 10px;
            padding: 30px;
            &:last-of-type{border: none;}
            li{
                list-style-type: none;
                line-height: 200%;
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}
@media screen and (max-width:980px) {
    .header{
        flex-flow:column;
        width:100%;
        .logoBox{
            margin:2% auto;
            min-width:350px;
        }
        .navBar{
            padding: 2.5% 0;
            width:100%;
            .navButton{
                width:30%;
            }
        }
        .login{
            flex-order:1;
        }
    }
}